<div class="navbar-top-space"></div>
<div class="inbox-container">

	<div style="position: fixed; top: 52px; z-index: 3;">
		<%= render 'svgs/frames/notif_t' %>
	</div>

	<h6 class="form-label" style="position: fixed; top: 64px; left: 31px; color: #00354d; width: 336px; z-index: 3;">BOOKMARKS</h6>

	<div class="bookmarks-container">
		<div class="bookmarks-grid">
			<% @bookmarks.reverse.each do |bookmark| %>
				<%= link_to post_path(bookmark.post) do  %>
					<%= cl_image_tag bookmark.post.images.first.key %>
				<% end %>
			<% end %>
		</div>
		<div style="height: 64px;"></div>
	</div>
</div>
