// Define variables for your color scheme

// For example:
$red: #fd1015;
// $blue: #167ffb;
// $yellow: #FFC65A;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
// $light-gray: #f4f4f4;

// Interstellagram colours:
$teal: #3cc7cc;
$bright-teal: #00fefc;
$blue: #589ecc;

$yellow: #ffd088;

$pink: #f0afd7;
$light-pink: #ffc9ee;
$purple: #d987ba;
$dark-purple: #946792;
$mauve: #b49698;

$dark-blue: #00354d;
$darker-blue: #001a35;

$white: #ffffff;
$light-gray: #c9c9c9;
$not-black: #051618;
