.form-container {
	display: block;
	width: 330px;
	margin: 0 auto;
	position: relative;
	top: 10px;
}

.form-box {
	position: relative;
	width: 330px;
	height: 655px;

	background: radial-gradient(
		rgba(60, 199, 204, 0.1) 5%,
		rgba(180, 150, 152, 0.2) 70%
	);
	border: 1px solid rgba(60, 199, 204, 0.3);
	box-sizing: border-box;
	border-radius: 0 25px 25px 0;
}

.form-header-post {
	display: flex;
	align-items: center;
}

.form-label {
	font-family: "Revalia";
	color: $teal;
	font-size: 10px;
	margin-bottom: 0px;
}

.invisible-link {
	width: 44px;
	height: 44px;
}
