.notifications-container {
	margin: 0 auto;
	width: 335px;
	height: calc(100vh - 160px);
	overflow-y: scroll;
	position: relative;
	top: -36px;
	left: 10px;
}
.notifications-container::-webkit-scrollbar {
	display: none;
}

.notification {
	display: flex;
	align-items: center;
	margin-top: 18px;
	width: 292px;
}

.notification-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 245px;
}

.notification-bottom-frame {
	position: fixed;
	bottom: 52px;
}
.notification-top-frame {
	position: fixed;
	top: 52px;
}
