.search-container {
	width: 375px;
	margin: 0 auto;
	position: relative;
	// top: 10px;
}
.search-content {
	position: absolute;
	width: 375px;
}

.search-tab-sides {
	position: absolute;
	top: 110px;
	width: 117px;
	height: 25px;
	color: white;
	text-align: center;
	padding-top: 5px;
}

.search-tab-mid {
	position: absolute;
	top: 110px;
	left: 125px;
	width: 124px;
	height: 25px;
	color: white;
	text-align: center;
	padding-top: 5px;
}

.explore-tags-container {
	width: 100%;
	height: 24px;
	margin: 0 auto;
	position: absolute;
	top: 110px;
	left: 0px;
	overflow-x: scroll;
}
.explore-tags-container::-webkit-scrollbar {
	display: none;
}

.search-tag-name {
	position: absolute;
	top: 8px;
	left: 15px;
	width: 123px;
	height: 18px;
	text-align: center;
	color: white;
	font-size: 12px;
	overflow-x: scroll;
}
.search-tag-name::-webkit-scrollbar {
	display: none;
}
