<div class="tab-pane fade" id="pills-tags" role="tabpanel" aria-labelledby="pills-tags-tab">
	<% if @tags && @tags.count != 0 %>
		<%# ------------------------------COOL LINES------------------------------ %>
		<div class="white-circle" style="position: absolute; top: 139px; right: 63px;"></div>
		<div style="position: absolute; top: 139px; right: 66px; z-index: -1;">
			<%= render 'svgs/accents/small_line' %>
		</div>
		<div style="position: absolute; top: 148px; right: 83px; z-index: -1;">
			<%= render 'svgs/accents/teal_line' %>
		</div>
		<div style="position: absolute; top: 157px; right: 235px; z-index: -1;">
			<%= render 'svgs/accents/small_line' %>
		</div>
		<div class="white-circle" style="position: absolute; top: 157px; right: 231px;"></div>
		<div class="teal-line"></div>

		<%# ------------------------------TAG CARD------------------------------ %>
		<div style=" margin-top: 42px;">
			<% @tags.each do |tag| %>
				<%= tag.name %>
			<% end %>
		</div>
	<% end %>
</div>
