<%# feed %>
<% if current_user %>
  <% if @posts %>
    <div class="navbar-top-space"></div>
    <div style="width: 375px; margin: 0 auto;">
      <%= render @posts %>
    </div>
    <div class="navbar-top-space"></div>
  <% end %>
<% else %>
  <% controller.redirect_to user_session_path %>
<% end %>
<%= ago(Post.first.created_at) %>
<%= ago(Post.last.created_at) %>
