<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>TEST</p>

<div>
	<%= render 'svgs/circles/purple_yellow_circle' %>
</div>

<div>
	<%= render 'svgs/frames/post_corner_t' %>
</div>
