.bookmark-icon {
	background-image: url(/assets/images/bookmark.png);
	width: 34px;
	height: 34px;
}

.white-circle {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #ffffff;
	box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
	position: relative;
}

.sm-white-circle {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #ffffff;
	box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
	position: relative;
}

.yellow-line {
	position: absolute;
	width: 81px;
	height: 0px;
	border: 1px solid #ffd088;
}

.dotted-line {
	width: 190px;
	height: 0px;

	border: 1px dashed #01a5da;
}
